:root{
    --Orange: hsl(26, 100%, 55%);
    --PaleOrange: hsl(25, 100%, 94%);
    --VeryDarkBlue: hsl(220, 13%, 13%);
    --Darkgrayishblue: hsl(219, 9%, 45%);
    --GrayishBlue: hsl(220, 14%, 75%);
    --LightGrayishBlue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
}


header{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 2rem;

    padding: 0;
    margin: 0 15%;
    border-bottom: 1px solid lightgray;
}
header .logo{
    padding: 2rem 0;
    border-bottom: 3px solid transparent;
}
header .logo:hover{
    border-bottom: 3px solid var(--Orange);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.3rem;
    width: 100%;
}
.navbar a{
    color: var(--Darkgrayishblue);
    border-bottom: 3px solid transparent;
    padding: 2rem 0;
}
.navbar a:hover{
    color: var(--Black);
    border-bottom: 3px solid var(--Orange);
}
.navbar .links-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.profile-container .profile img{
    cursor: pointer;
    width: 50px;
    border-radius: 50%;
    border: 2px solid transparent;
}
.profile-container .profile img:hover{
    border: 2px solid var(--Orange);
}
.profile-container .cart-btn{
    cursor: pointer;
    background: transparent;
    border: none;
}


/* BUTTONS */
.mobile-btn{
    display: none;
}





/* CART SECTION */
header{
    position: relative;
}
header .cart{
    position: absolute;
    top: 100%;
    right: 1rem;

    width: 320px;
    height: 250px;
    box-shadow: 0px 5px 15px 1px #00000048;
    border-radius: 8px;

    background: var(--White);

    padding: .5rem 1.5rem;
}
header .cart .title{
    padding: 0 0 1rem;
    border-bottom: 1px solid lightgray;
}
header .cart .cart-box img{
    width: 60px;
    border-radius: 7px;
}
header .cart button.checkout{
    background: var(--Orange);
    border: none;
    border-radius: 7px;
    padding: .8rem 1rem;
    color: var(--White);
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}
header .cart .cart-box{
    display: flex;
    align-items: center;
}
header .cart .cart-box img.delete-icon{
    cursor: pointer;
    width: 17px;
    margin-left: .5rem;
}
header .cart *{
    margin: .3rem 0;
}
header .cart .cart-box .item-description .name{
    color: #555;
    font-size: .8rem;
    margin: 0 .5rem;
}
header .cart .cart-box .item-description .price{
    color: #555;
    font-size: .9rem;
    margin: .5rem;
}
header .cart .cart-box .item-description .total-price{
    margin: 0 0 0 .5rem;
    color: black;
    font-weight: bold;
}


header .cart{
    display: none;
}
header .cart.open{
    display: block;
}



@media screen and (max-width: 1350px) {
    header{
        margin: 0 10%;
    }
}

@media screen and (max-width: 1100px) {
    header{
        margin: 0 5%;
    }
}

@media screen and (max-width: 700px) {
    .mobile-btn{
        display: block;
        cursor: pointer;
    }

    .links-container a{
        display: none;
    }

    header{
        align-items: center;
    }
}