:root{
  --Orange: hsl(26, 100%, 55%);
  --PaleOrange: hsl(25, 100%, 94%);
  --VeryDarkBlue: hsl(220, 13%, 13%);
  --Darkgrayishblue: hsl(219, 9%, 45%);
  --GrayishBlue: hsl(220, 14%, 75%);
  --LightGrayishBlue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}

*{
  box-sizing: border-box;
  margin: 0; padding: 0;
  text-decoration: none;
  transition: .3s linear;
}

main.container{
  display: flex;
  justify-content: center;
  padding: 4rem 10%;
}


@media screen and (max-width: 850px) {
    main.container{
      padding: 4rem 5%;
    }
}

@media screen and (max-width: 780px) {
  main.container{
    padding: 4rem 3%;
  }
}